.centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapContainer {
  display: grid;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  text-align: left;
  /*Divide em 3 partes de tamanho fixo*/
  grid-template-columns: repeat(3, 1fr);

  gap: 30px;
}

.mapContainer h2 {
  color: azure;
}

.table {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 560px; /* Ajuste o tamanho conforme necessário */
  height: 560px; /* Ajuste o tamanho conforme necessário */
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  bottom: 100px;

  background: #6cd87e;
  height: 56px;
  border-radius: 10px;
  border: 0;
  padding: 0 16px;
  color: #312e38;
  width: 100%;
  font-weight: 500;
  margin-top: 16px;
}

.btn:hover {
  background: #6cd87e;
}

h1 {
  color: #6cd87e;
}
